// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#body-style{
  background-color: #29bb89;
}

.game-container{
  background-color: #fff;
  padding: 30px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.answer-container{
  background-color: #fff;
  padding: 30px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.letter-background{
  background-color: #29bb89;
  color: #fff;
  padding: 10px;
  height: 80px;
  margin-right: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.input-field{
  width: 45%;
}

.btn-submit{
  width: 80px;
}

.congrats{
  font-weight: bold;
}

.answer-word{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}


.btn-play a{
  background-color: #29bb89;
  padding: 15px 25px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.btn-play a:hover{
    background-color: #fff;
    border: 1px solid #29bb89;
    color: #29bb89;
}
